{% extends "base.html" %}
{% load staticfiles %}

{% load static %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img style="-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);" src="https://cdn2.iconfinder.com/data/icons/wine-i-love-you/500/wine_glass-512.png">
    </a>
      <h1>
        <span style="font-family:cursive;margin:0px;">Sommel</span><span style="font-family:Verdana;margin:0px;"><b>AI</b></span>
    </h1>
      <!--<h1 style="font-family:times;">Sommel<b><i>AI</i></b></h1>-->
    <p>Wine is seen as a sophisticated beverage, only to be understood by wine connoisseurs of the upper class.
      We are interested in making the understanding of wine more accessible to the general public.
    </p>
    <a type="button" class="btn btn-lg btn-default" href="explore_data"><span class="glyphicon glyphicon-globe"></span> Explore the Data</a>
    <a type="button" class="btn btn-lg btn-default" href="predict"><span class="glyphicon glyphicon-cloud"></span> Try out the Model</a>
    <a type="button" class="btn btn-lg btn-default" href="https://github.com/sjiang2019/WineExploration"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>

  </div>
</div>

<div class="container">
    <hr>
  <div class="row">


    <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-th-list"></span> Dataset</h3>
      <p>
          The <a href="https://www.kaggle.com/zynicide/wine-reviews/data">Kaggle Wine Reviews dataset</a>
        is composed of ~150,000 unique wine reviews and contains the following fields: country, description,
        designation, points, price, province, region_1, region_2, variety, and winery. Country, province, region_1,
        and region_2 refer to various degrees of specificity regarding the origin of the wine. Winery refers to the
        winery that produced the wine and designation refers to the vineyard within the winery from which the grapes
        were picked. The description field includes a description from a sommelier about the wine’s taste, smell, look, feel, etc. Finally, the variety field refers to the type of grape used to produce the wine. Using the aforementioned features, we hope to predict points, which is a proxy for quality, and price.
      </p>
      <h3><span class="glyphicon glyphicon-question-sign"></span> Our Questions</h3>
      <ul>
        <li>Do price and quality vary by region, variety, or winery? If so, to what extent?</li>

        <li>Can textual descriptions provided by sommeliers be used to predict wine price and quality?</li>
        <li>Are price and quality correlated?</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-book"></span> Related Work</h3>
        <p>
            <b><a href="http://www.aclweb.org/anthology/P16-2050">Very quaffable and great fun: Applying NLP to wine reviews</a>, Hendrickx et al.</b>
        </p>
      <p>
          Using textual reviews gathered from <a href="http://www.winemag.com/">WineMag</a>, Hendrickx et al. use
        lexical and semantic information to predict color, grape variety, price, and country of origin of various wines.
        Due to the fact that reviewers use similar descriptors, such as ‘fruity’, ‘notes of blackberry’, and ‘elegant’,
        wine reviews are consistent enough to draw conclusions about the wine itself. The researchers processed the
        textual data by combining a bag-of-words model with 100 topics generated from Latent Dirichlet Allocation and
        100 clusters based on word embeddings from <a href="https://code.google.com/archive/p/word2vec/">Word2Vec</a>.
        The experiment resulted in high F-scores for each predicted category. Price was predicted categorically using
        ‘expensive’ and ‘cheap’ as the categories; however, the researchers mention that in the future it would be better
        to predict price as a regression task. Thus, we are hoping to extend their work by predicting price and quality
        as a regression task and by addressing the aforementioned questions.
      </p>


    </div>
  </div> <!-- row -->
      <!--
   <div class="alert alert-info text-center" role="alert">
    Please do work through the Getting Started guide, even if you do know how to build such an application.  The guide covers the basics of working with Heroku, and will familiarize you with all the concepts you need in order to build and deploy your own apps.
  </div>
  -->
      <hr>
    <div class="alert alert-info text-center" role="alert">
    Explore the map below to see which regions have the best quality or the highest prices.
  </div>
    <div id="wine_regions" style="height: 500px;"></div>
    <hr>
</div>



<script>

var map = L.map('wine_regions', {
    center: [36, -46],
    zoom: 3,
    minZoom: 2,
    maxZoom: 12
});

L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg', {
    attribution: '&copy; <a href="http://maps.stamen.com/#watercolor/">Stamen Maps</a>, <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

L.tileLayer('http://{s}.tile.stamen.com/toner-labels/{z}/{x}/{y}.png').addTo(map);

var markers = L.markerClusterGroup();

{% for winery in wineries %}
  var marker = L.marker([ {{ winery.latitude }}, {{ winery.longitude }} ]);
  marker.bindPopup("<b>{{ winery.winery }}</b><hr>{{ winery.province }}, {{ winery.country }}<br>");
  markers.addLayer(marker);
{% endfor %}

map.addLayer(markers);

function getColor(d) {
    return d > 15000 ? '#800026' :
           d > 10000  ? '#BD0026' :
           d > 5000  ? '#E31A1C' :
           d > 2000  ? '#FC4E2A' :
           d > 1000   ? '#FD8D3C' :
           d > 500   ? '#FEB24C' :
           d > 100   ? '#FED976' :
                      '#FFEDA0';
}

function style(feature) {
    return {
        fillColor: getColor(feature.properties.count),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
    };
}


function highlightFeature(e) {
    var layer = e.target;

    layer.setStyle({
        weight: 5,
        color: '#666',
        dashArray: '',
        fillOpacity: 0.7
    });

    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
        layer.bringToFront();
    }

    info.update(layer.feature.properties);
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}

function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}


<!--geojson = L.geoJson(statesData, {-->
    <!--style: style,-->
    <!--onEachFeature: onEachFeature-->
<!--}).addTo(map);-->

geojson = L.geoJson(countries_data, {
    style: style,
    onEachFeature: onEachFeature
}).addTo(map);

var info = L.control();

info.onAdd = function (map) {
    this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
    this.update();
    return this._div;
};

// method that we will use to update the control based on feature properties passed
info.update = function (props) {
    this._div.innerHTML = '<h4>State Wine Data</h4>' +  (props ?
        '<b>' + props.name +
        '</b><br /> Median Price: $' +
        props.median_price +
        '</b><br /> Median Quality: ' +
        props.median_points + '/100' +
        '</b><br /> Number of Wineries: ' +
        props.count
        : 'Hover over a state');
};

info.addTo(map);

var legend = L.control({position: 'bottomright'});

legend.onAdd = function (map) {

    var div = L.DomUtil.create('div', 'info legend'),
        grades = [0, 100, 200, 500, 1000, 2000, 5000, 10000, 15000],
        labels = [];

    // loop through our density intervals and generate a label with a colored square for each interval
    div.innerHTML +=
            '<h5>Number of Wineries</h5>'
    for (var i = 0; i < grades.length; i++) {
        div.innerHTML +=
            '<i style="background:' + getColor(grades[i] + 1) + '"></i> ' +
            grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
    }

    return div;
};

legend.addTo(map);


</script>

{% endblock %}
